<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QZP7DMC4NP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QZP7DMC4NP');
</script>
<meta name="google-site-verification" content="bsPOYHyUpWp6ATe-MWEs-2I8BoAUA-DxQ5VxKE3DSiY">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "76 Fence of Magnolia",
  "url": "https://magnoliatxfences.com",
  "telephone": "+1-281-292-1897",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "41040 Community Rd",
    "addressLocality": "Magnolia",
    "addressRegion": "TX",
    "postalCode": "77354",
    "addressCountry": "US"
  },
  "areaServed": ["Magnolia, TX", "Pinehurst, TX", "Montgomery, TX"],
  "branchOf": {
    "@type": "Organization",
    "name": "76 Fence",
    "url": "https://76fence.com/houston"
  }
}
</script>
